@use "sass:color";

@function v($var) {
    @return var(--#{$var});
}

$fontSize: 26px;
$font-family: sans-serif;

$color-border: #1d1d1d;
$color-bg: #3D6AF2;
$color-bg-flagged: #215d21;
$color-bg-highlight-primary: #0540F2;
$color-bg-highlight-secondary: #6a98c3;

$color-uncovered-un-mined-base: red;
$color-uncovered-mined: black;

$adjacency-degrees: 1,2,3,4,5,6,7,8;


:host {
    font-size: $fontSize;
    font-family: $font-family;
    width: inherit;
}

#toolbar-wrapper {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
    }

    div.icon-wrapper:not(:last-of-type) {
        margin: 0 1em 0 0;
    }

    .icon {
        margin: 0 0.5em 0 0;

        svg {
            width: 50px;
        }
    }

    .icon-lbl {
        line-height: 50px;
    }
}

#grid-container {
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
}

.ms-cell-row {
    display: flex;
    flex-direction: row;
}

.ms-cell {
    --cell-edge-length: 50px;

    width: v(cell-edge-length);
    height: v(cell-edge-length);
    border: 1px solid black;

    svg {
        display: block;
        margin: auto;
    }

    // dart sass only!
    @each $degree in $adjacency-degrees {
        &.adjacency-degree--#{$degree}[data-is_covered=false]{
            background: color.scale(red, $lightness:  80% - ($degree * 10%) );
        }
    }

    &[mine=true]{
        background: $color-uncovered-mined;
    }

    &[data-is_hovered=true][data-is_covered=true]{
        outline: 1px solid $color-bg-highlight-primary;
        z-index: 2;
    }

    &[neighbor-highlight=true]{
        background: $color-bg-highlight-secondary;
    }
}